@charset "utf-8";
/* CSS Document */
/*
creat by: chen yun
date    : 2017-1-4
*/
/*默认颜色*/
/* 主要的蓝色 */
/* 边框颜色*/
/* 字体灰 */
/* 背景灰 */
/* 链接禁用灰 */
/* 表头背景 */
/* 标识某些状态的蓝色 */
/* 应急修背景 */
/* 故障修背景 */
/*模态框主题蓝色*/
/*.gray 颜色*/
/*边框颜色*/
/*深蓝色*/
/*浅蓝色字体*/
/*白色*/
/*橙黄*/
/*默认颜色*/
/*橘色*/
* {
  font-family: '微软雅黑';
  color: #4D4D4D;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
label {
  font-weight: normal;
}
a {
  color: #4D4D4D;
}
a:link,
a:active,
a:visited {
  outline: none;
}
a:hover {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
em,
i {
  font-style: normal;
}
.round {
  border-radius: 50%;
}
.padding-0 {
  padding: 0 !important;
}
.margin-0 {
  margin: 0;
}
.borders-0 {
  border-radius: 0;
}
/* 顶部菜单栏 */
.header {
  position: relative;
  z-index: 2;
  text-align: center;
  border: 0;
  margin: 0 !important;
  border-radius: 0;
  height: 60px;
  background: #3A6BCE;
}
.header * {
  line-height: 60px;
}
.header .logo {
  height: 60px;
  float: left;
  width: 200px;
  text-align: center;
  border-right: 1px solid #648EF1;
}
.header .logo img {
  height: 30px;
}
.header p {
  float: left;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 30px;
}
.header .header-left {
  float: left;
}
.header .dropdown {
  border-left: 1px solid #648EF1;
  top: 0;
}
.header .dropdown button {
  width: 120px;
  outline-offset: 0;
  height: 56px;
  line-height: 56px;
  border: 0;
  border-radius: 0;
}
/* 顶部tab菜单 */
section {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* 左侧菜单 */
}
section .tab-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background: #F9F9F9;
  border-right: 1px solid #E5E5E5;
}
section .tab-content > div {
  margin-top: 60px;
}
section .tab-content .panel {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  border: 0;
  border-raius: 0;
}
section .tab-content .panel a {
  display: block;
}
section .tab-content .panel > a {
  color: #4D4D4D;
  text-indent: 30px;
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #E5E5E5;
}
section .tab-content .panel > a:nth-of-type(1) {
  height: 60px;
  line-height: 60px;
}
section .tab-content .panel > a span {
  font-size: 16px;
}
section .tab-content .panel > a span:nth-child(1) {
  color: #A8BFC8;
  float: left;
  margin-left: 13px;
  margin-right: 10px;
}
section .tab-content .slide-menu {
  width: 100%;
  background: #fff;
  padding: 1px 0;
  border-bottom: 1px solid #E5E5E5;
}
section .tab-content .slide-menu a {
  position: relative;
  line-height: 24px;
  margin: 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  border-left: 3px solid #fff;
}
section .tab-content .slide-menu a span {
  line-height: 24px;
  color: #666;
  font-size: 16px;
  margin-right: 10px;
  float: left;
  margin-left: 40px;
}
section .tab-content .slide-menu a:hover,
section .tab-content .slide-menu a.active {
  border-left: 3px solid #648EF1;
  color: #648EF1;
}
section .tab-content .slide-menu a:hover span,
section .tab-content .slide-menu a.active span {
  color: #648EF1;
}
.clear {
  overflow: hidden;
  clear: both;
}
/* 日历插件 */
#calendar {
  position: absolute;
  width: 240px;
  right: 0;
  top: 60px;
  background: #fff;
  border-left: 1px solid #E5E5E5;
}
#calendar h2 {
  font-size: 16px;
  line-height: 59px;
  padding: 0 10px;
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#calendar .clndr {
  padding: 0 10px;
}
#calendar .clndr-controls {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 10px 0 15px;
}
#calendar .clndr-controls .clndr-control-button {
  position: absolute;
  top: 10px;
  left: 0px;
  cursor: pointer;
}
#calendar .clndr-controls .rightalign {
  right: 0px;
  left: auto;
}
#calendar .clndr-controls .month {
  color: #000;
}
#calendar .clndr-table {
  width: 100%;
}
#calendar .clndr-table td {
  padding: 3px 0;
  text-align: center;
}
#calendar .clndr-table .day-contents {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  line-height: 28px;
}
#calendar .clndr-table .last-month .day-contents,
#calendar .clndr-table .next-month .day-contents {
  color: #bbb;
}
#calendar .clndr-table .today .day-contents {
  background: #648EF1;
  color: #fff;
  border-radius: 50%;
}
#myiframe {
  position: absolute;
  border: 0;
  left: 200px;
  top: 60px;
  z-index: 9;
}
.padding-15 {
  padding: 15px;
}
.input-group-addon {
  width: auto;
}
.mar-b20 {
  margin-bottom: 20px;
}
/* 操作提示 */
.Alert {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1100;
  background: rgba(255, 255, 255, 0.5);
}
.Alert .alert-dialog {
  width: 600px;
  min-height: 220px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding-bottom: 20px;
  margin: -200px 0 0 -300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #bbb;
}
.Alert .alert-dialog .alert-header {
  position: relative;
  background: #648EF1;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-indent: 10px;
}
.Alert .alert-dialog .alert-mes {
  text-align: center;
}
.Alert .alert-dialog .alert-mes span {
  border-radius: 50%;
  display: block;
  font-size: 60px;
  margin: 40px auto 30px;
}
.Alert .alert-dialog .alert-mes .icon-danger {
  color: #F6921E;
}
.Alert .alert-dialog .alert-mes b {
  font-size: 16px;
  color: #000;
}
.Alert .alert-dialog .alert-footer {
  border-top: 1px solid #E5E5E5;
  padding-top: 10px;
  text-align: center;
  margin-top: 40px;
}
.Alert .alert-dialog .alert-footer button {
  float: right;
  margin-right: 10px;
}
.Alert.success .alert-mes span {
  color: #FF921E;
}
.Alert.success .alert-mes span:before {
  content: "\e924";
}
.Alert.fail .alert-mes span {
  color: #EC1C24;
}
.Alert.fail .alert-mes span:before {
  content: "\e922";
}
/*遮罩层*/
#mask,
.mask {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9;
  display: none;
}
