/* 主要的蓝色 */
/* 边框颜色*/
/* 字体灰 */
/* 背景灰 */
/* 链接禁用灰 */
/* 表头背景 */
/* 标识某些状态的蓝色 */
/* 应急修背景 */
/* 故障修背景 */
/*模态框主题蓝色*/
/*.gray 颜色*/
/*边框颜色*/
/*深蓝色*/
/*浅蓝色字体*/
/*白色*/
/*橙黄*/
/*默认颜色*/
/* 深灰色 */
ul,
ol {
  list-style: none;
  margin-bottom: 0;
}
p {
  margin: 0;
}
input {
  margin: 0;
}
textarea {
  resize: none;
}
.clear-float {
  clear: both;
  overflow: hidden;
}
/* 重置a标签的默认样式 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
/* 公共图标按钮样式 */
.btnDefault {
  padding: 0 20px;
  text-align: center;
  line-height: 36px;
  float: left;
  margin-left: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-sizing: border-box;
  background: #fff;
}
.btnDefault.bgGreen *,
.btnDefault.bgBlue *,
.btnDefault.bgOrange * {
  color: #fff !important;
}
.btnDefault.bgGreen {
  background: #39B44A;
  color: #fff;
}
.btnDefault.bgBlue {
  background: #648EF1;
  color: #fff;
}
.btnDefault.bgOrange {
  background: #ff921E;
}
select {
  height: 25px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* 最外层容器 */
.wrapper {
  padding: 15px;
  background: #fff;
}
/* 标题栏 */
.content-header {
  min-height: 60px;
  clear: both;
  overflow: hidden;
  padding: 10px 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.content-header .float-left .bgGreen {
  margin-left: 0;
}
.content-header .float-right * {
  float: left;
}
.content-header .float-right .search-input {
  width: 300px;
  height: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff;
}
.content-header .float-right .search-input * {
  float: left;
}
.content-header .float-right .search-input span {
  width: 40px;
  line-height: 38px;
  text-align: center;
  color: #648EF1;
}
.content-header .float-right .search-input input {
  border: 0;
  line-height: 30px;
  margin-top: 4px;
  color: #999;
  outline: none;
}
/* 按钮组合 */
.btn-inline .btn-operate {
  margin-left: 5px;
}
.btn-inline .btn-operate:last-child {
  margin-right: 0;
}
.btn-inline a:last-child {
  margin-right: 0;
}
/* 表格样式 */
.table thead tr {
  background: #D7E4FF;
}
.table thead tr th {
  padding: 0 8px !important;
  line-height: 50px;
  color: #808080;
  font-weight: normal;
  color: #333;
  border: 0;
}
.table tbody tr {
  outline: none;
}
.table tbody tr:nth-of-type(2n) {
  background: #F9F9F9;
}
.table tbody tr td {
  padding: 0 8px;
  line-height: 50px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 0;
  color: #1a1a1a;
}
.table tbody tr td a {
  float: left;
  margin-left: 10px;
  color: #1887EC;
}
.table tbody tr td a:nth-of-type(1) {
  margin-left: 0;
}
/* 分页 */
.page {
  overflow: hidden;
  clear: both;
}
.page ul {
  float: right;
  border: 1px solid #e5e5e5;
  border-left: 0;
}
.page ul li {
  float: left;
  width: 30px;
  line-height: 30px;
  border-left: 1px solid #e5e5e5;
  text-align: center;
}
.page ul li.active {
  background: #648EF1;
  color: #fff;
}
/* 状态样色 */
.red {
  color: #C0272D !important;
}
.orange {
  color: #ff921E !important;
}
.gray {
  color: #989898 !important;
}
.green {
  color: #009145 !important;
}
/*表单部分*/
.form-container {
  margin-top: 10px;
  width: 100%;
}
.form_line {
  float: left;
  margin: 2px 0 10px;
}
.form_line > * {
  float: left;
}
.form_line label {
  width: 70px;
  text-align: right;
  line-height: 32px;
  color: #1a1a1a;
  margin-right: 10px;
}
.form_line .datetimepicker {
  width: 130px;
}
.form_line .datetimepicker input {
  padding: 6px;
  border-color: #e5e5e5;
}
.form_line .datetimepicker .input-group-addon {
  border-color: #e5e5e5;
}
.form_line > span {
  margin: 0 5px;
  line-height: 32px;
}
.form_line > input[type="text"],
.form_line select,
.form_line .section input[type="text"],
.form_line .section select {
  width: 130px;
  height: 34px;
  padding: 0 5px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.form_line textarea {
  border: 1px solid #e5e5e5;
}
.form_line a.button {
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  background: #648EF1;
  color: #fff;
  text-align: center;
}
.time-slot input {
  width: 85px !important;
}
.time-slot em.input-group-addon,
.time-slot input {
  border-radius: 0;
}
.time-slot .to {
  width: 8px !important;
  height: 1px;
  background: #999;
  font-size: 0;
  display: inline-block;
  margin: 15px 5px 0;
}
.mar-t20 {
  margin-top: 20px;
}
/* 模态框样式重写 */
.modal-backdrop {
  background-color: #fff;
}
.modal .modal-content {
  border-radius: 0;
  border: 0;
  width: 800px;
}
.modal .modal-content .modal-body {
  min-height: 200px;
}
.modal .modal-header {
  height: 40px;
  padding: 0 15px;
  background: #648EF1;
}
.modal .modal-header * {
  color: #fff;
}
.modal .modal-header h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
}
.modal .modal-header a {
  margin-top: 10px;
  opacity: 1;
  font-size: 18px;
}
.btn {
  width: 100px;
  height: 34px;
  border-raius: 5px;
  box-sizing: border-box;
}
.btn.btn-confirm:hover {
  color: #fff;
}
.btn.btn-red {
  background: #C0272D;
  color: #fff;
}
.btn-cancel {
  border: 1px solid #e5e5e5;
  background: #fff;
}
.btn-confirm {
  background: #648EF1;
  color: #fff;
}
/* 模态框 */
.modal .form-container .form_line {
  width: 100%;
}
.modal .form-container .form_line p {
  width: 100%;
  line-height: 32px;
}
.modal .form-container .form_line label {
  width: 100px;
  margin-right: 10px;
}
.modal .form-container .form_line label.require:before {
  content: "*";
  color: red;
  font-size: 14px;
  margin-right: 3px;
}
.modal .form-container .form_line input,
.modal .form-container .form_line select {
  width: 460px;
  margin-right: 5px;
}
.modal .form-container .form_line .btn {
  margin-left: 10px;
}
.modal .form-container .form_line.psw input {
  width: 350px;
}
.modal .form-container .form_line.psw p {
  text-indent: 100px;
}
.modal .form-container .form_line .section * {
  float: left;
}
.modal .form-container .form_line .section input {
  width: 217px;
}
.modal .form-container .form_line .section span {
  margin: 0 5px;
}
.modal .form-container span {
  line-height: 32px;
  margin-right: 10px;
}
.modal .form-container span.orange {
  color: #ff921E;
}
.modal .form-container .datetimepicker input {
  margin-right: 0;
  width: 174px;
}
.modal .form-container textarea {
  width: 640px;
  height: 80px;
  border-radius: 3px;
  padding: 5px;
  line-height: 20px;
}
.modal .wrapper {
  padding: 0;
  margin: 15px 0 0;
}
/* 人员分组 */
.bgYellow {
  background: #F5D328;
}
.bgGreen {
  background: #70BF41;
}
.bgRed {
  background: #EC5D57;
}
.heading {
  font-size: 20px;
  padding: 10px 0 20px;
}
.heading .orange {
  font-size: 20px;
  margin-left: 20px;
}
.heading ul li {
  float: left;
  margin-left: 30px;
}
.heading ul li span {
  width: 40px;
  height: 20px;
  float: left;
  margin-right: 7px;
}
/* 下拉菜单样式重写 */
.dropdown {
  position: absolute;
  right: 5px;
  top: 5px;
  outline: none;
}
.dropdown button {
  background: #648EF1;
  width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  color: #fff;
  font-size: 16px;
}
.dropdown button span {
  color: #fff;
  border-width: 6px;
  margin-left: 5px !important;
}
.dropdown button:hover {
  color: #fff;
}
.dropdown .dropdown-menu {
  right: 0;
  left: auto;
  width: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.dropdown .dropdown-menu li {
  padding: 10px 0;
}
.dropdown .dropdown-menu li a:hover {
  background: none;
}
.dropdown .dropdown-menu li:nth-last-of-type(1) a {
  color: #C0272D;
}
.stationArea {
  overflow: hidden;
  clear: both;
}
.stationArea .list {
  width: 400px;
  float: left;
  margin-right: 10px;
  background: #f1f1f1;
}
.stationArea .list .station-head {
  height: 40px;
  background: #D7E4FF;
  position: relative;
}
.stationArea .list .station-head span {
  margin-left: 10px;
  line-height: 40px;
}
.stationArea .list .stations {
  height: 310px;
  overflow: auto;
  padding: 5px 10px;
}
.stationArea .list .stations li {
  width: 100%;
  height: 40px;
  float: left;
  background: #fff;
  margin: 5px 0;
}
.stationArea .list .stations li * {
  line-height: 40px;
}
.stationArea .list .stations li span {
  float: left;
  margin-left: 10px;
}
.stationArea .list .stations .clear {
  height: 0;
  padding: 0;
  margin: 0;
}
/* 权限列表 */
.post {
  width: 100%;
  margin: 15px 0;
  float: left;
}
.post td {
  padding: 5px 8px;
  color: #000;
  vertical-align: top;
}
.post td p {
  line-height: 24px;
  color: #666;
}
/* 班次设置 */
.menu {
  position: absolute;
  width: 160px;
  height: 100%;
  background: #e5e5e5;
  left: 0;
  top: 0;
}
.menu * {
  text-indent: 40px;
  width: 100%;
}
.menu .menu-head {
  background: #CBCBCB;
  line-height: 60px;
}
.menu .nav-tabs {
  border: 0;
}
.menu .nav-tabs li > a {
  line-height: 40px;
  border: 0;
  border-radius: 0;
}
.menu .nav-tabs > li > a:hover,
.menu .nav-tabs > li.active > a,
.menu .nav-tabs > li.active > a:focus,
.menu .nav-tabs > li.active > a:hover {
  background: #fff;
  border: 0;
}
.content {
  margin-left: 160px;
}
.shifts {
  float: left;
  width: 100%;
  border: 0;
  margin-top: 17px;
  margin-bottom: 10px;
}
.shifts li {
  margin-right: 10px;
}
.shifts li a,
.shifts li a:hover,
.shifts li a:focus {
  background: #648EF1;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #648EF1;
  padding: 5px 15px;
}
.shifts li.active a,
.shifts li.active a:hover,
.shifts li.active a:focus {
  border: 2px solid #648EF1;
  background: #fff;
  color: #648EF1;
}
.table-header {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}
.table-header > span {
  position: absolute;
  left: 0;
  top: 10px;
  padding-left: 5px;
  height: 30px;
  line-height: 30px;
  border-left: 4px solid #648EF1;
}
.table-header .dropdown {
  right: 0;
}
.table-header .dropdown button {
  width: 100px;
  height: 40px;
}
/* 添加新方案 */
.newPlan {
  display: block;
  width: 260px;
  line-height: 60px;
  border: 2px dashed #648EF1;
  text-align: center;
  color: #648EF1;
  font-size: 18px;
  margin-top: 20px;
}
/* 柱状图 */
#myChart {
  width: 800px;
  height: 400px;
}
.chart {
  margin-bottom: 30px;
}
.chart ul {
  float: right;
  margin-bottom: 20px;
}
.chart ul li {
  float: left;
  width: 200px;
}
.chart ul li span {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.chart ul li span.realHour {
  background: #39B44A;
}
.chart ul li span.planHour {
  background: #648EF1;
}
/* 排班表格 */
.schedule {
  width: 100%;
  min-height: 660px;
  overflow-x: auto;
}
.schedule table {
  min-width: 100%;
  margin-bottom: 20px;
}
.schedule table th,
.schedule table td {
  min-width: 50px;
  text-align: center;
  border: 2px solid #fff;
  padding: 8px;
}
.schedule table th {
  background: #767C85;
  color: #fff;
  font-weight: normal;
}
.schedule table td {
  position: relative;
  background: #DCDEE0;
  color: #000;
  z-index: 1;
}
.schedule table td.bgYellow {
  background: #F5D328;
  z-index: 2;
}
.schedule table td.bgGreen {
  background: #70BF41;
}
.schedule table td.bgRed {
  background: #EC5D57;
}
.schedule table td .remarks {
  position: absolute;
  width: 260px;
  padding: 10px;
  top: 38px;
  left: 0;
  background: #FFFBE9;
  border: 1px solid #FFDEB3;
}
.schedule table td .remarks p {
  line-height: 30px;
  text-align: left;
  color: #1a1a1a;
}
.schedule table td .remarks .head {
  font-size: 18px;
  margin-bottom: 10px;
}
.schedule table td .rightMenu {
  position: absolute;
  width: 120px;
  left: 0;
  top: 38px;
  border: 1px solid #E5E5E5;
  background: #fff;
}
.schedule table td .rightMenu a {
  display: block;
  line-height: 40px;
  border-top: 1px solid #e5e5e5;
  color: #1a1a1a;
}
.schedule table .dark {
  background: #535761;
  color: #fff;
}
.schedule .page .float-left span {
  margin-left: 10px;
  line-height: 38px;
}
