<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>岗位设置</title>
    #parse('common/path-css.vm')
    #parse('common/path-js.vm')
</head>
<body>
<!-- 右侧内容 start -->
<div class="content-header">
    <div class="float-left">
        <a class="btnDefault bgGreen" href="#addPost" data-toggle="modal" data-target="#addPost">新增岗位</a>
    </div>
</div>
<!-- 右侧内容 end -->
<!-- 表格 start -->
<div class="wrapper">
    <table class="table" id="postSettingTable">
        <thead>
            <tr>
                <th>岗位名称</th>
                <th>月工时上限(时)</th>
                <th>年工时上限(时)</th>
                <th>每周最少休班(天)</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="pager" class="page">
    </div>
</div>
<!-- 表格 end -->
<!-- 新增岗位 -->
<div class="modal" id="addPost" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">新增岗位</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear" id="addPostSettingForm">
                    <div class="form_line">
                        <label>岗位名称</label>
                        <input type="text" name="postName">
                    </div>
                    <div class="form_line">
                        <label>月工时上限</label>
                        <input type="text" name="postMonth">
                        <span>时</span>
                    </div>
                    <div class="form_line">
                        <label>年工时上限</label>
                        <input type="text" name="postYear">
                        <span>时</span>
                    </div>
                    <div class="form_line">
                        <label>每周最少休班</label>
                        <input type="text" name="postWeekly">
                        <span>天</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="addPostSetting()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑岗位 -->
<div class="modal" id="editPost" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">编辑岗位</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear" id="editPostSettingForm">
                    <div class="form_line">
                        <label>岗位名称</label>
                        <input type="hidden" id="editPostCode" name="postCode" value="站区长">
                        <input type="text" id="editPostName" name="postName" value="站区长">
                    </div>
                    <div class="form_line">
                        <label>月工时上限</label>
                        <input type="text" id="editPostMonth" name="postMonth" value="166">
                        <span>时</span>
                    </div>
                    <div class="form_line">
                        <label>年工时上限</label>
                        <input type="text" id="editPostYear" name="postYear" value="2000">
                        <span>时</span>
                    </div>
                    <div class="form_line">
                        <label>每周最少休班</label>
                        <input type="text" id="editPostWeekly" name="postWeekly" value="2">
                        <span>天</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="editPostSetting()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        tableInit();
    });
    //首页数据
    function tableInit(){
        $("#postSettingTable").jqGrid({
            url:"$path/postSettings",
            datatype:"json",
            mtype:"get",
            height:'auto',
            autowidth:true,
            colNames:['岗位名称','月工时上限','年工时上限','每周最少休班',"操作"],
            colModel:[
                {name:'postName', width:'15%'},
                {name:'postMonth', width:'15%'},
                {name:'postYear', width:'15%'},
                {name:'postWeekly', width:'15%'},
                {name:'operation', width:'10%',formatter:function(cellvalue,options,rowObject){
                    var	str='';
                    if($shiro.hasPermission("人员管理-编辑")){
                        str = '<a href="javascript:;" postName="'+rowObject.postName+'" postMonth="'+rowObject.postMonth+'" postYear="'+rowObject.postYear+'" postWeekly="'+rowObject.postWeekly+'" class="edit postEditBtn">编辑</a>';
                    }
                    if($shiro.hasPermission("人员管理-停用")){
                        str += '<a class="stop" href="javascript:;" onclick="postDel('+ rowObject.postId+')">删除</a>';
                    }
                    return str;
                }},
            ],
            viewrecords: true,//是否在浏览导航栏显示记录总数
            rowNum:10,//每页显示记录数
            pager:$('#pager'),
            jsonReader:{
                page: "page",
                total: "pages",
                records: "count",
                root: "results",
                repeatitems: false,
                id: "postId"
            }
        });
        jQuery("#postSettingTable").jqGrid('navGrid','#pager',{edit:false,add:false,del:false});
    }
    //添加站区设置
    function addPostSetting(){
        console.log($('#addPostSettingForm').serialize());
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/addPostSettingForm",
            data: $('#addPostSettingForm').serialize(),
            dataType: "json",
            error: function (request) {
                alert("网络错误");
            },
            success: function (data) {
                alert(data.msg)
                setTimeout(function(){
                    $("#addPost .close").click();
                    $("#addPost").hide();
                },500);
                location.replace("$path/postSetting");
            }
        });
    }

    //编辑站区设置
    $(".postEditBtn").click(function(){
        console.log("||||||||||||||||||")
        $("#editPostCode").val($(this).attr("postCode"));
        $("#editPostName").val($(this).attr("postName"));
        $("#editPostMonth").val($(this).attr("postMonth"));
        $("#editPostYear").val($(this).attr("postYear"));
        $("#editPostWeekly").val($(this).attr("postWeekly"));
    })
</script>
</html>