<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员信息</title>
    #set($path = ${rc.contextPath})
    <link rel="stylesheet" href="$path/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="$path/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="$path/static/css/common.css">
    <link rel="stylesheet" href="$path/static/css/font.css">
    <link rel="stylesheet" href="$path/static/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="$path/static/css/style.css">
    <script src="$path/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="$path/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="$path/static/js/underscore-min.js" type="text/javascript"></script>
    <script src="$path/static/js/moment.min.js" type="text/javascript"></script>
    <script src="$path/static/js/common.js" type="text/javascript"></script>
    <script src="$path/static/js/alert.js" type="text/javascript"></script>
    <script src="$path/static/js/index.js" type="text/javascript"></script>
    <!-- jqgrid -->
    <script src="$path/static/js/jqgrid/grid.locale-cn.js" type="text/javascript"></script>
    <script src="$path/static/js/jqgrid/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="$path/static/js/jqgrid/table-jqgrid.js" type="text/javascript"></script>
    <!-- json-serializeObject -->
    <script src="$path/static/js/json/json-serializeObject.js" type="text/javascript"></script>
    <script src="$path/static/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
</head>
<body>
<!-- 右侧内容 start -->
<form id="userForm">
<div class="content-header">
    <div class="float-left">
        <a class="btnDefault bgGreen" href="#addUser" data-toggle="modal" data-target="#addUser">新增人员</a>
        <a class="btnDefault" href="#export" data-toggle="modal" data-target="#export">导入</a>
    </div>
    <div class=" float-right">
        <div class="search-input">
            <span class="icon-5"></span>
            <input type="text" placeholder="姓名/员工编号/岗位" name="userSearch">
            <input type="hidden" name="userCode">
            <input type="hidden" name="userName">
            <input type="hidden" name="userJob">
        </div>
        <a class="btnDefault bgBlue"  onclick="getTableData()" href="javascript:void(0);">查询</a>
    </div>
</div>
<!-- 右侧内容 end -->
<!-- 表格 start -->
<div class="wrapper">
    <table class="table" id="userTable">
    </table>
    <div id="pager"></div>
</div>
<!-- 表格 end -->
</form>
<!-- 新增人员 -->

<div class="modal" id="addUser" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">新增人员</h4>
            </div>
            <div class="modal-body">
                <form id="userAddForm" class="form-container clear">
                    <div class="form_line">
                        <label class="require">员工编号</label>
                        <input id="userCode" name="userCode" type="text">
                    </div>
                    <div class="form_line">
                        <label class="require">姓名</label>
                        <input id="userName" name="userName" type="text">
                    </div>
                    <div class="form_line">
                        <label class="require">站区</label>
                        <select id="stationArea" name="stationArea">
                            <option>西直门站区</option>
                            <option>永泰庄站区</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label class="require">站点</label>
                        <select id="station" name="station">
                            <option>西直门</option>
                            <option>动物园</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label class="require">岗位</label>
                        <select id="userJob" name="userJob">
                            <option value="站区长">站区长</option>
                            <option value="站区助理">站区助理</option>
                            <option value="值班站长">值班站长</option>
                            <option value="站务员">站务员</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>管理员</label>
                        <select id="isAdmin" name="isAdmin" onchange="selectAdmin(this.options[this.options.selectedIndex].value)">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                    <div class="form_line user_pass hidden">
                        <label class="red">密码</label>
                        <input type="text" name="password">
                        <span class="orange">请记录此密码作为下次登录用</span>
                    </div>
                    <div class="form_line user_role hidden">
                        <label>权限方案</label>
                        <select>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="userAdd()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑人员 -->
<div class="modal" id="editUser" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">编辑人员</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear" id="userEditForm">
                    <div class="form_line">
                        <input id="editUserId" name="userId" type="hidden">
                        <label class="require">员工编号</label>
                        <input id="editUserCode" name="userCode" type="text">
                    </div>
                    <div class="form_line">
                        <label class="require">姓名</label>
                        <input id="editUserName" name="userName" type="text">
                    </div>
                    <div class="form_line">
                        <label class="require">站区</label>
                        <select id="editStationArea" name="stationArea">
                            <option>西直门站区</option>
                            <option>永泰庄站区</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label class="require">站点</label>
                        <select id="editStation" name="station">
                            <option>西直门</option>
                            <option>动物园</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label class="require">岗位</label>
                        <select id="editUserJob" name="userJob">
                            <option value="站区长">站区长</option>
                            <option value="站区助理">站区助理</option>
                            <option value="值班站长">值班站长</option>
                            <option value="站务员">站务员</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>管理员</label>
                        <select id="editIsAdmin" name="isAdmin" onchange="selectAdmin(this.options[this.options.selectedIndex].value)">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                    <div class="form_line user_pass">
                        <label class="red">密码</label>
                        <input type="text" id="editPassword" name="password">
                        <a class="btn btn-confirm" href="javascript:;">更换密码</a>
                        <span class="orange">请记录此密码作为下次登录用</span>
                    </div>
                    <div class="form_line user_role">
                        <label>权限方案</label>
                        <select>
                            <option></option>
                            <option></option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="userUpdate()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 导入 -->
<div class="modal" id="export" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">导入人员</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear">
                    <div class="form_line">
                        <p>请选择需要导入的Excel文件(xls,xlsx)  </p>
                        <input type="text">
                        <a class="btn btn-confirm" href="javascript:;">浏览</a>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;">确定</a>
                <button class="btn btn-cancel" href="javascript:void(0);" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        tableInit();
    });
    function tableInit(){
        $("#userTable").jqGrid({
            url:"$path/users",
            datatype:"json",
            mtype:"get",
            height:'auto',
            autowidth:true,
            postData: {
                search : JSON.stringify($('#userForm').serializeObject())
            },
            colNames:['员工编号', '姓名', '岗位',  '站区','站点','权限'  ,"操作"],
            colModel:[
                {name:'userCode', width:'15%'},
                {name:'userName', width:'15%'},
                {name:'userJob', width:'15%'},
                {name:'stationArea', width:'15%'},
                {name:'station', width:'15%'},
                {name:'isAdmin', width:'10%',formatter:function(cellvalue,options,rowObject){
                    return rowObject.isAdmin == 0 ? '管理员' : '';
                }},
                {name:'operation', width:'10%',formatter:function(cellvalue,options,rowObject){
                    var	str='';
                    if($shiro.hasPermission("人员管理-编辑")){
                        str = '<a href="javascript:;"' + (rowObject.isDeleted == 0 ? 'onclick="editUser('+ rowObject.userId +')" class="edit"' : 'class="edit disabled"') +'>编辑</a>';
                    }
                    if($shiro.hasPermission("人员管理-停用")){
                        str += '<a class="stop" href="javascript:;" onclick="userDel('+ rowObject.userId+')">删除</a>';
                    }
                    return str;
                }},
            ],
            viewrecords: true,//是否在浏览导航栏显示记录总数
            rowNum:10,//每页显示记录数
            pager:$('#pager'),
            jsonReader:{
                page: "page",
                total: "pages",
                records: "count",
                root: "results",
                repeatitems: false,
                id: "userId"
            }
        });
        jQuery("#userTable").jqGrid('navGrid','#pager',{edit:false,add:false,del:false});
    }

    function editUser(userId){
        jQuery.ajax({
            type: "get",
            url: "$path/users/"+userId ,
            data: null,
            dataType: "json",
            error: function (xmlHttpReq, status) {
                alert("网络错误");
            },
            success: function (data) {
                $("#editUserId").val(userId);
                $("#editUserName").val(data.userName);
                $("#editUserCode").val(data.userCode);
                $("#editUserJob").val(data.userJob);
                $("#editStationArea").val(data.stationArea);
                $("#editStation").val(data.station);

                $("#editUser").show();
            }
        });
    }

    function userUpdate(){
        jQuery.ajax({
            async: false,
            type: "put",
            url: "$path/users?" + $('#userEditForm').serialize(),
            data: null,
            dataType: "json",
            error: function () {
                alert("网络错误");
            },
            success: function (data) {
            alert(data.message)
            setTimeout(function(){
                $("#editUser .close").click();
                $("#editUser").hide();
            },500)
            $(".ui-jqgrid-btable").jqGrid().trigger('reloadGrid');
        }
    })}

    function userDel(userId){
        jQuery.ajax({
            async: false,
            type: "put",
            url: "$path/users/" + userId + "/userDel",
            dataType: "json",
            error: function () {
                alert("网络错误");
            },
            success: function (data) {
                alert(data["msg"])
                getTableData();
            }
        });
    }
    function getTableData() {
        console.log("||||||");
        var search=$("input[name=userSearch").val();
        $("input[name=userCode").val(search);
        $("input[name=userName").val(search);
        $("input[name=userJob").val(search);
        $("#userTable").jqGrid('setGridParam',{
            postData: {
                search : JSON.stringify($('#userForm').serializeObject())
            }
        }).trigger('reloadGrid');
    }
    function selectAdmin(isAdmin){
        console.log(isAdmin+"|||");
        if(isAdmin==1){
            $(".user_pass").removeClass("hidden");
            $(".user_role").removeClass("hidden");
        }
    }
    function userAdd(){
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/user/addUser",
            data: $('#userAddForm').serialize(),
            dataType: "json",
            error: function (request) {
                alert("网络错误");
            },
            success: function (data) {
                alert(data["msg"])
                setTimeout(function(){
                    $("#addUser .close").click();
                    $("#addUser").hide();
                },500)
                $(".ui-jqgrid-btable").jqGrid().trigger('reloadGrid');
            }
        });
    }

</script>
</body>
</html>