<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>运三公司新班制辅助管理系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/demo.css">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/underscore-min.js" type="text/javascript"></script>
    <script src="/static/js/moment.min.js" type="text/javascript"></script>
    <script src="/static/js/clndr.min.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/alert.js" type="text/javascript"></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
</head>
<body>
<div id="mask"></div>
<!--  头部 start -->
<div class="navbar header">
    <div class="header-left">
        <div class="logo">
            <img src="/static/img/logo.png" alt="北京地铁">
        </div>
        <p>运三公司新班制辅助管理系统</p>
    </div>
    <div class="nav header-right">
        <ul class="nav navbar-nav">
            <li>
                <a href="javascript:;">小曹狠认真 <span class="arror_down icon-21"></span></a>
            </li>
        </ul>
    </div>
</div>
<!--  头部 end -->
<!-- 左侧菜单 start -->
<section>
    <div class="tab-content">
        <!-- 系统设置 start -->
        <div role="tabpanel" class="tab-pane fade in active" id="sideMenu">
            <div class="panel">
                #if($shiro.hasPermission("系统管理"))
                <a class="active" href="#part1" data-toggle="collapse" data-parent="#sideMenu">系统设置</a>
                #end
                <div class="collapse in slide-menu" id="part1">
                    #if($shiro.hasPermission("系统管理-人员管理"))
                    <a class="active" href="$path/users/person" target="myiframe">
                        <span class="icon-19"></span>人员管理
                    </a>
                    #end
                    #if($shiro.hasPermission("系统管理-角色管理"))
                    <a href="javascript:;" target="myiframe">
                        <span class="icon-18"></span>人员分组
                    </a>
                    #end
                    #if($shiro.hasPermission("系统管理-角色管理"))
                    <a href="javascript:;" target="myiframe">
                        <span class="icon-17"></span>权限管理
                    </a>
                    #end
                </div>
            </div>
            <div class="panel">
                #if($shiro.hasPermission("系统管理"))
                <a href="#part2" data-toggle="collapse" data-parent="#sideMenu">排班管理</a>
                #end
                <div class="collapse slide-menu" id="part2">
                    #if($shiro.hasPermission("系统管理"))
                    <a class="active" href="javascript:;" target="myiframe">
                        <span class="icon-16"></span>排班表格
                    </a>
                    #end
                    #if($shiro.hasPermission("系统管理"))
                    <a href="javascript:;" target="myiframe">
                        <span class="icon-6"></span>新增自动排班
                    </a>
                    #end
                    #if($shiro.hasPermission("系统管理"))
                    <a href="javascript:;" target="myiframe">
                        <span class="icon-17"></span>排班审批
                    </a>
                    #end
                </div>
            </div>
            <div class="panel">
                #if($shiro.hasPermission("系统管理"))
                <a href="#part3" data-toggle="collapse" data-parent="#sideMenu">排班设置</a>
                #end
                <div class="collapse slide-menu" id="part3">
                    #if($shiro.hasPermission("系统管理"))
                    <a class="active" href="javascript:;" target="myiframe">
                        <span class="icon-7"></span>班次设置
                    </a>
                    #end
                    #if($shiro.hasPermission("系统管理"))
                    <a href="javascript:;" target="myiframe">
                        <span class="icon-8"></span>岗位设置
                    </a>
                    #end
                </div>
            </div>
            <div class="panel">
                #if($shiro.hasPermission("系统管理"))
                <a href="#part4" data-toggle="collapse" data-parent="#sideMenu">统计报表</a>
                #end
                #if($shiro.hasPermission("系统管理"))
                <div class="collapse slide-menu" id="part4">
                    <a class="active" href="javascript:;" target="myiframe">
                        <span class="icon-15"></span>工时报表
                    </a>
                #end
                #if($shiro.hasPermission("系统管理"))
                    <a href="javascript:;" target="myiframe">
                        <span class="icon-16"></span>临时安排报表
                    </a>
                #end
                </div>
            </div>
        </div>
        <!-- 系统设置 end -->
    </div>
    <iframe id="myiframe" name="myiframe" src=""></iframe>
</section>
</div>
<!--隐藏的页面元素 end-->
<!-- 左侧菜单 end -->
<!-- 日历插件 start -->
<div id="calendar">
    <h2>日历便签</h2>
    <div class="calendar"></div>
</div>
<!-- 日历插件 end -->
</body>
</html>